/*═════════════════════════════════════════════════════════════*
 *                   ʚʚʚ Rose Pine ɞɞɞ                   *
 *           A Site Skin for the Archive of Our Own           *
 *                      By Wolfbatcat                        *
 *═════════════════════════════════════════════════════════════*/

/*═════════════════════════════════════════════════════════════*
 *                ʚʚʚ Fonts ɞɞɞ                *
 *═════════════════════════════════════════════════════════════*/

/* Main font family */
body,
input,
.toggled form,
.dynamic form,
.secondary,
.dropdown,
blockquote,
.prompt .blurb h6,
.bookmark .user .meta,
a.work,
span.symbol,
.heading .actions,
.heading .action,
.heading span.actions,
button,
span.unread,
.replied,
span.claimed,
.actions span.defaulted,
.splash .news .meta,
.datetime,
h5.fandoms.heading a.tag,
dd.fandom.tags a,
select {
    font-family: Outfit, Pier Sans Light, Domine, Helvetica, "Trebuchet MS", "Lucida Sans", Arial, san-serif, "GNU Unifont";
    font-weight: 400;
}

/* Headings font family */
h1,
h2,
h3,
h4,
h5,
h6,
.heading {
    font-family: Outfit, Piers Sans, Domine, Helvetica, "Trebuchet MS", "Lucida Sans", Arial, sans-serif, "GNU Unifont";
    font-weight: 600;
}

/* Code font family */
kbd,
tt,
code,
var,
pre,
samp,
textarea,
textarea#skin_css,
.css.module blockquote pre,
#floaty-textarea {
    font-family: Victor Mono SemiBold, Consolas, Monaco, Courier, monospace;
    font-size: 0.9em;
    /* font-style: italic; */
    /* For cursive version of Victor Mono */
}

/*═════════════════════════════════════════════════════════════*
 *                ʚʚʚ Optional Settings ɞɞɞ                *
 *═════════════════════════════════════════════════════════════*/

/* Add tag symbols */
/* Examples: ɞɞ, ✿, ✦, ♥  */
h5.fandoms.heading a.tag:after,
dd.fandom.tags a:after,
[class^=warning] a.tag:after,
[class^=relationship] a.tag:after,
[class^=character] a.tag:after,
a.tag:not(.fandom.index.group a.tag, h2.heading a.tag, .splash .favorite a.tag):after {
    content: "\00a0\00a0✿";
}

/*  #workskin p {
        font-size: 150%;
    }

   /*  .userstuff p {
        text-align: left !important;
    }
}