.sprite-100-zerafina-icon-bookmark-hidden-01 {
     background: url(https://i.postimg.cc/gJzxw0BQ/zerafina-icon-sprites.png);
     display: inline-block;
     height: 100px;
     width: 100px;
     background-position: -100px -100px;
 }
 .sprite-100-zerafina-icon-bookmark-locked-02 {
     background: url(https://i.postimg.cc/gJzxw0BQ/zerafina-icon-sprites.png);
     display: inline-block;
     height: 100px;
     width: 100px;
     background-position: -400px -100px;
 }
 .sprite-100-zerafina-icon-bookmark-public-02 {
     background: url(https://i.postimg.cc/gJzxw0BQ/zerafina-icon-sprites.png);
     display: inline-block;
     height: 100px;
     width: 100px;
     background-position: -700px -100px;
 }
 .sprite-100-zerafina-icon-bookmark-rec-01 {
     background: url(https://i.postimg.cc/gJzxw0BQ/zerafina-icon-sprites.png);
     display: inline-block;
     height: 100px;
     width: 100px;
     background-position: -1000px -100px;
 }
 .sprite-100-zerafina-icon-category-ff-01 {
     background: url(https://i.postimg.cc/gJzxw0BQ/zerafina-icon-sprites.png);
     display: inline-block;
     height: 100px;
     width: 100px;
     background-position: -1300px -100px;
 }
 .sprite-100-zerafina-icon-category-gen-01 {
     background: url(https://i.postimg.cc/gJzxw0BQ/zerafina-icon-sprites.png);
     display: inline-block;
     height: 100px;
     width: 100px;
     background-position: -1600px -100px;
 }
 .sprite-100-zerafina-icon-category-mf-01 {
     background: url(https://i.postimg.cc/gJzxw0BQ/zerafina-icon-sprites.png);
     display: inline-block;
     height: 100px;
     width: 100px;
     background-position: -1900px -100px;
 }
 .sprite-100-zerafina-icon-category-mm-01 {
     background: url(https://i.postimg.cc/gJzxw0BQ/zerafina-icon-sprites.png);
     display: inline-block;
     height: 100px;
     width: 100px;
     background-position: -2200px -100px;
 }
 .sprite-100-zerafina-icon-category-other-01 {
     background: url(https://i.postimg.cc/gJzxw0BQ/zerafina-icon-sprites.png);
     display: inline-block;
     height: 100px;
     width: 100px;
     background-position: -2500px -100px;
 }
 .sprite-100-zerafina-icon-complete-no-01 {
     background: url(https://i.postimg.cc/gJzxw0BQ/zerafina-icon-sprites.png);
     display: inline-block;
     height: 100px;
     width: 100px;
     background-position: -2800px -100px;
 }
 .sprite-100-zerafina-icon-complete-yes-01 {
     background: url(https://i.postimg.cc/gJzxw0BQ/zerafina-icon-sprites.png);
     display: inline-block;
     height: 100px;
     width: 100px;
     background-position: -100px -400px;
 }
 .sprite-100-zerafina-icon-rating-explicit-01 {
     background: url(https://i.postimg.cc/gJzxw0BQ/zerafina-icon-sprites.png);
     display: inline-block;
     height: 100px;
     width: 100px;
     background-position: -400px -400px;
 }
 .sprite-100-zerafina-icon-rating-gen-01 {
     background: url(https://i.postimg.cc/gJzxw0BQ/zerafina-icon-sprites.png);
     display: inline-block;
     height: 100px;
     width: 100px;
     background-position: -700px -400px;
 }
 .sprite-100-zerafina-icon-rating-mature-01 {
     background: url(https://i.postimg.cc/gJzxw0BQ/zerafina-icon-sprites.png);
     display: inline-block;
     height: 100px;
     width: 100px;
     background-position: -1000px -400px;
 }
 .sprite-100-zerafina-icon-rating-teen-01 {
     background: url(https://i.postimg.cc/gJzxw0BQ/zerafina-icon-sprites.png);
     display: inline-block;
     height: 100px;
     width: 100px;
     background-position: -1300px -400px;
 }
 .sprite-100-zerafina-icon-warning-choosenotto-01 {
     background: url(https://i.postimg.cc/gJzxw0BQ/zerafina-icon-sprites.png);
     display: inline-block;
     height: 100px;
     width: 100px;
     background-position: -1600px -400px;
 }
 .sprite-100-zerafina-icon-warning-external-work-02 {
     background: url(https://i.postimg.cc/gJzxw0BQ/zerafina-icon-sprites.png);
     display: inline-block;
     height: 100px;
     width: 100px;
     background-position: -1900px -400px;
 }
 .sprite-100-zerafina-icon-warning-yes-01 {
     background: url(https://i.postimg.cc/gJzxw0BQ/zerafina-icon-sprites.png);
     display: inline-block;
     height: 100px;
     width: 100px;
     background-position: -2200px -400px;
 }
 .sprite-100-zerafina-stats-icon-bookmarked-items-01 {
     background: url(https://i.postimg.cc/gJzxw0BQ/zerafina-icon-sprites.png);
     display: inline-block;
     height: 100px;
     width: 100px;
     background-position: -2500px -400px;
 }
 .sprite-100-zerafina-stats-icon-bookmarks-02 {
     background: url(https://i.postimg.cc/gJzxw0BQ/zerafina-icon-sprites.png);
     display: inline-block;
     height: 100px;
     width: 100px;
     background-position: -2800px -400px;
 }
 .sprite-100-zerafina-stats-icon-chapters-01 {
     background: url(https://i.postimg.cc/gJzxw0BQ/zerafina-icon-sprites.png);
     display: inline-block;
     height: 100px;
     width: 100px;
     background-position: -100px -700px;
 }
 .sprite-100-zerafina-stats-icon-characters-01 {
     background: url(https://i.postimg.cc/gJzxw0BQ/zerafina-icon-sprites.png);
     display: inline-block;
     height: 100px;
     width: 100px;
     background-position: -400px -700px;
 }
 .sprite-100-zerafina-stats-icon-collection-01 {
     background: url(https://i.postimg.cc/gJzxw0BQ/zerafina-icon-sprites.png);
     display: inline-block;
     height: 100px;
     width: 100px;
     background-position: -700px -700px;
 }
 .sprite-100-zerafina-stats-icon-comment-threads-01 {
     background: url(https://i.postimg.cc/gJzxw0BQ/zerafina-icon-sprites.png);
     display: inline-block;
     height: 100px;
     width: 100px;
     background-position: -1000px -700px;
 }
 .sprite-100-zerafina-stats-icon-comments-01 {
     background: url(https://i.postimg.cc/gJzxw0BQ/zerafina-icon-sprites.png);
     display: inline-block;
     height: 100px;
     width: 100px;
     background-position: -1300px -700px;
 }
 .sprite-100-zerafina-stats-icon-complete-01 {
     background: url(https://i.postimg.cc/gJzxw0BQ/zerafina-icon-sprites.png);
     display: inline-block;
     height: 100px;
     width: 100px;
     background-position: -1600px -700px;
 }
 .sprite-100-zerafina-stats-icon-fandoms-01 {
     background: url(https://i.postimg.cc/gJzxw0BQ/zerafina-icon-sprites.png);
     display: inline-block;
     height: 100px;
     width: 100px;
     background-position: -1900px -700px;
 }
 .sprite-100-zerafina-stats-icon-hits-01 {
     background: url(https://i.postimg.cc/gJzxw0BQ/zerafina-icon-sprites.png);
     display: inline-block;
     height: 100px;
     width: 100px;
     background-position: -2200px -700px;
 }
 .sprite-100-zerafina-stats-icon-kudos-01 {
     background: url(https://i.postimg.cc/gJzxw0BQ/zerafina-icon-sprites.png);
     display: inline-block;
     height: 100px;
     width: 100px;
     background-position: -2500px -700px;
 }
 .sprite-100-zerafina-stats-icon-language-01 {
     background: url(https://i.postimg.cc/gJzxw0BQ/zerafina-icon-sprites.png);
     display: inline-block;
     height: 100px;
     width: 100px;
     background-position: -2800px -700px;
 }
 .sprite-100-zerafina-stats-icon-promts-01 {
     background: url(https://i.postimg.cc/gJzxw0BQ/zerafina-icon-sprites.png);
     display: inline-block;
     height: 100px;
     width: 100px;
     background-position: -100px -1000px;
 }
 .sprite-100-zerafina-stats-icon-published-01 {
     background: url(https://i.postimg.cc/gJzxw0BQ/zerafina-icon-sprites.png);
     display: inline-block;
     height: 100px;
     width: 100px;
     background-position: -400px -1000px;
 }
 .sprite-100-zerafina-stats-icon-related-works-01 {
     background: url(https://i.postimg.cc/gJzxw0BQ/zerafina-icon-sprites.png);
     display: inline-block;
     height: 100px;
     width: 100px;
     background-position: -700px -1000px;
 }
 .sprite-100-zerafina-stats-icon-relationships-01 {
     background: url(https://i.postimg.cc/gJzxw0BQ/zerafina-icon-sprites.png);
     display: inline-block;
     height: 100px;
     width: 100px;
     background-position: -1000px -1000px;
 }
 .sprite-100-zerafina-stats-icon-subscriptions-01 {
     background: url(https://i.postimg.cc/gJzxw0BQ/zerafina-icon-sprites.png);
     display: inline-block;
     height: 100px;
     width: 100px;
     background-position: -1300px -1000px;
 }
 .sprite-100-zerafina-stats-icon-tags-additional-01 {
     background: url(https://i.postimg.cc/gJzxw0BQ/zerafina-icon-sprites.png);
     display: inline-block;
     height: 100px;
     width: 100px;
     background-position: -1600px -1000px;
 }
 .sprite-100-zerafina-stats-icon-tags-freeform-01 {
     background: url(https://i.postimg.cc/gJzxw0BQ/zerafina-icon-sprites.png);
     display: inline-block;
     height: 100px;
     width: 100px;
     background-position: -1900px -1000px;
 }
 .sprite-100-zerafina-stats-icon-updated-01 {
     background: url(https://i.postimg.cc/gJzxw0BQ/zerafina-icon-sprites.png);
     display: inline-block;
     height: 100px;
     width: 100px;
     background-position: -2200px -1000px;
 }
 .sprite-100-zerafina-stats-icon-words-01 {
     background: url(https://i.postimg.cc/gJzxw0BQ/zerafina-icon-sprites.png);
     display: inline-block;
     height: 100px;
     width: 100px;
     background-position: -2500px -1000px;
 }
 .sprite-100-zerafina-stats-icon-works-01 {
     background: url(https://i.postimg.cc/gJzxw0BQ/zerafina-icon-sprites.png);
     display: inline-block;
     height: 100px;
     width: 100px;
     background-position: -2800px -1000px;
 }
 .sprite-200-zerafina-header-icon-logout {
     background: url(https://i.postimg.cc/gJzxw0BQ/zerafina-icon-sprites.png);
     display: inline-block;
     height: 200px;
     width: 200px;
     background-position: -50px -1250px;
 }
 .sprite-200-zerafina-header-icon-new-work {
     background: url(https://i.postimg.cc/gJzxw0BQ/zerafina-icon-sprites.png);
     display: inline-block;
     height: 200px;
     width: 200px;
     background-position: -350px -1250px;
 }
 .sprite-200-zerafina-header-icon-user {
     background: url(https://i.postimg.cc/gJzxw0BQ/zerafina-icon-sprites.png);
     display: inline-block;
     height: 200px;
     width: 200px;
     background-position: -650px -1250px;
 }
 .sprite-300-zerafina-icon-admin-02 {
     background: url(https://i.postimg.cc/gJzxw0BQ/zerafina-icon-sprites.png);
     display: inline-block;
     height: 300px;
     width: 300px;
     background-position: -900px -1200px;
 }
 .sprite-300-zerafina-icon-anon-01 {
     background: url(https://i.postimg.cc/gJzxw0BQ/zerafina-icon-sprites.png);
     display: inline-block;
     height: 300px;
     width: 300px;
     background-position: -1200px -1200px;
 }
 .sprite-300-zerafina-icon-collection-02 {
     background: url(https://i.postimg.cc/gJzxw0BQ/zerafina-icon-sprites.png);
     display: inline-block;
     height: 300px;
     width: 300px;
     background-position: -1500px -1200px;
 }
 .sprite-300-zerafina-icon-kudos-03 {
     background: url(https://i.postimg.cc/gJzxw0BQ/zerafina-icon-sprites.png);
     display: inline-block;
     height: 173px;
     width: 173px;
     background-position: -1863px -1263px;
 }
 .sprite-300-zerafina-icon-skins-02 {
     background: url(https://i.postimg.cc/gJzxw0BQ/zerafina-icon-sprites.png);
     display: inline-block;
     height: 300px;
     width: 300px;
     background-position: -2100px -1200px;
 }
 .sprite-300-zerafina-icon-tag-02 {
     background: url(https://i.postimg.cc/gJzxw0BQ/zerafina-icon-sprites.png);
     display: inline-block;
     height: 300px;
     width: 300px;
     background-position: -2400px -1200px;
 }
 .sprite-300-zerafina-icon-user-visitor-02 {
     background: url(https://i.postimg.cc/gJzxw0BQ/zerafina-icon-sprites.png);
     display: inline-block;
     height: 300px;
     width: 300px;
     background-position: -2700px -1200px;
 }
 .sprite-40-zerafina-icon-lock-01 {
     background: url(https://i.postimg.cc/gJzxw0BQ/zerafina-icon-sprites.png);
     display: inline-block;
     height: 40px;
     width: 40px;
     background-position: -130px -1630px;
 }
 .sprite-40-zerafina-icon-rss-01 {
     background: url(https://i.postimg.cc/gJzxw0BQ/zerafina-icon-sprites.png);
     display: inline-block;
     height: 40px;
     width: 40px;
     background-position: -430px -1630px;
 }
 