.sprite-zerafina-icon-lock-01 {
     background: url(https://i.postimg.cc/P5V6PG7t/zerafina-stats-sprites.png);
     display: inline-block;
     height: 100px;
     width: 100px;
     background-position: -4px -4px;
 }
 .sprite-zerafina-icon-rss-01 {
     background: url(https://i.postimg.cc/P5V6PG7t/zerafina-stats-sprites.png);
     display: inline-block;
     height: 100px;
     width: 100px;
     background-position: -112px -4px;
 }
 .sprite-zerafina-stats-icon-bookmarked-items-01 {
     background: url(https://i.postimg.cc/P5V6PG7t/zerafina-stats-sprites.png);
     display: inline-block;
     height: 100px;
     width: 100px;
     background-position: -220px -4px;
 }
 .sprite-zerafina-stats-icon-bookmarks-02 {
     background: url(https://i.postimg.cc/P5V6PG7t/zerafina-stats-sprites.png);
     display: inline-block;
     height: 100px;
     width: 100px;
     background-position: -328px -4px;
 }
 .sprite-zerafina-stats-icon-chapters-01 {
     background: url(https://i.postimg.cc/P5V6PG7t/zerafina-stats-sprites.png);
     display: inline-block;
     height: 100px;
     width: 100px;
     background-position: -436px -4px;
 }
 .sprite-zerafina-stats-icon-characters-01 {
     background: url(https://i.postimg.cc/P5V6PG7t/zerafina-stats-sprites.png);
     display: inline-block;
     height: 100px;
     width: 100px;
     background-position: -544px -4px;
 }
 .sprite-zerafina-stats-icon-collection-01 {
     background: url(https://i.postimg.cc/P5V6PG7t/zerafina-stats-sprites.png);
     display: inline-block;
     height: 100px;
     width: 100px;
     background-position: -652px -4px;
 }
 .sprite-zerafina-stats-icon-comment-threads-01 {
     background: url(https://i.postimg.cc/P5V6PG7t/zerafina-stats-sprites.png);
     display: inline-block;
     height: 100px;
     width: 100px;
     background-position: -760px -4px;
 }
 .sprite-zerafina-stats-icon-comments-01 {
     background: url(https://i.postimg.cc/P5V6PG7t/zerafina-stats-sprites.png);
     display: inline-block;
     height: 100px;
     width: 100px;
     background-position: -868px -4px;
 }
 .sprite-zerafina-stats-icon-complete-01 {
     background: url(https://i.postimg.cc/P5V6PG7t/zerafina-stats-sprites.png);
     display: inline-block;
     height: 100px;
     width: 100px;
     background-position: -976px -4px;
 }
 .sprite-zerafina-stats-icon-fandoms-01 {
     background: url(https://i.postimg.cc/P5V6PG7t/zerafina-stats-sprites.png);
     display: inline-block;
     height: 100px;
     width: 100px;
     background-position: -1084px -4px;
 }
 .sprite-zerafina-stats-icon-hits-01 {
     background: url(https://i.postimg.cc/P5V6PG7t/zerafina-stats-sprites.png);
     display: inline-block;
     height: 100px;
     width: 100px;
     background-position: -1192px -4px;
 }
 .sprite-zerafina-stats-icon-kudos-01 {
     background: url(https://i.postimg.cc/P5V6PG7t/zerafina-stats-sprites.png);
     display: inline-block;
     height: 100px;
     width: 100px;
     background-position: -1300px -4px;
 }
 .sprite-zerafina-stats-icon-language-01 {
     background: url(https://i.postimg.cc/P5V6PG7t/zerafina-stats-sprites.png);
     display: inline-block;
     height: 100px;
     width: 100px;
     background-position: -1408px -4px;
 }
 .sprite-zerafina-stats-icon-promts-01 {
     background: url(https://i.postimg.cc/P5V6PG7t/zerafina-stats-sprites.png);
     display: inline-block;
     height: 100px;
     width: 100px;
     background-position: -1516px -4px;
 }
 .sprite-zerafina-stats-icon-published-01 {
     background: url(https://i.postimg.cc/P5V6PG7t/zerafina-stats-sprites.png);
     display: inline-block;
     height: 100px;
     width: 100px;
     background-position: -1624px -4px;
 }
 .sprite-zerafina-stats-icon-related-works-01 {
     background: url(https://i.postimg.cc/P5V6PG7t/zerafina-stats-sprites.png);
     display: inline-block;
     height: 100px;
     width: 100px;
     background-position: -1732px -4px;
 }
 .sprite-zerafina-stats-icon-relationships-01 {
     background: url(https://i.postimg.cc/P5V6PG7t/zerafina-stats-sprites.png);
     display: inline-block;
     height: 100px;
     width: 100px;
     background-position: -1840px -4px;
 }
 .sprite-zerafina-stats-icon-subscriptions-01 {
     background: url(https://i.postimg.cc/P5V6PG7t/zerafina-stats-sprites.png);
     display: inline-block;
     height: 100px;
     width: 100px;
     background-position: -1948px -4px;
 }
 .sprite-zerafina-stats-icon-tags-additional-01 {
     background: url(https://i.postimg.cc/P5V6PG7t/zerafina-stats-sprites.png);
     display: inline-block;
     height: 100px;
     width: 100px;
     background-position: -2056px -4px;
 }
 .sprite-zerafina-stats-icon-tags-freeform-01 {
     background: url(https://i.postimg.cc/P5V6PG7t/zerafina-stats-sprites.png);
     display: inline-block;
     height: 100px;
     width: 100px;
     background-position: -2164px -4px;
 }
 .sprite-zerafina-stats-icon-updated-01.bak {
     background: url(https://i.postimg.cc/P5V6PG7t/zerafina-stats-sprites.png);
     display: inline-block;
     height: 100px;
     width: 100px;
     background-position: -2272px -4px;
 }
 .sprite-zerafina-stats-icon-updated-01 {
     background: url(https://i.postimg.cc/P5V6PG7t/zerafina-stats-sprites.png);
     display: inline-block;
     height: 100px;
     width: 100px;
     background-position: -2380px -4px;
 }
 .sprite-zerafina-stats-icon-words-01 {
     background: url(https://i.postimg.cc/P5V6PG7t/zerafina-stats-sprites.png);
     display: inline-block;
     height: 100px;
     width: 100px;
     background-position: -2488px -4px;
 }
 .sprite-zerafina-stats-icon-works-01 {
     background: url(https://i.postimg.cc/P5V6PG7t/zerafina-stats-sprites.png);
     display: inline-block;
     height: 100px;
     width: 100px;
     background-position: -2596px -4px;
 }
 